@font-face {
    font-family: FuturaPT-light;
    src: url(../fonts/FuturaPT/FuturaPTLight.otf);
}
@font-face {
    font-family: FuturaPT-lightOblique;
    src: url(../fonts/FuturaPT/FuturaPTLightOblique.otf);
}
@font-face {
    font-family: FuturaPT-medium;
    src: url(../fonts/FuturaPT/FuturaPTMedium.otf);
}
@font-face {
    font-family: FuturaPT-mediumOblique;
    src: url(../fonts/FuturaPT/FuturaPTMediumOblique.otf);
}
@font-face {
    font-family: FuturaPT-bold;
    src: url(../fonts/FuturaPT/FuturaPTBold.otf);
}
@font-face {
    font-family: FuturaPT-boldOblique;
    src: url(../fonts/FuturaPT/FuturaPTBoldOblique.otf);
}
@font-face {
    font-family: FuturaPT-book;
    src: url(../fonts/FuturaPT/FuturaPTBook.otf);
}
@font-face {
    font-family: FuturaPT-bookOblique;
    src: url(../fonts/FuturaPT/FuturaPTBookOblique.otf);
}
@font-face {
    font-family: FuturaPT-demi;
    src: url(../fonts/FuturaPT/FuturaPTDemi.otf);
}
@font-face {
    font-family: FuturaPT-demiOblique;
    src: url(../fonts/FuturaPT/FuturaPTDemiOblique.otf);
}
@font-face {
    font-family: FuturaPT-extrabold;
    src: url(../fonts/FuturaPT/FuturaPTExtraBold.otf);
}
@font-face {
    font-family: FuturaPT-extraboldOblique;
    src: url(../fonts/FuturaPT/FuturaPTExtraBoldOblique.otf);
}
@font-face {
    font-family: FuturaPT-heavy;
    src: url(../fonts/FuturaPT/FuturaPTHeavy.otf);
}
@font-face {
    font-family: FuturaPT-heavyOblique;
    src: url(../fonts/FuturaPT/FuturaPTHeavyOblique.otf);
}