.side-navbar{
    width:106px;
    max-width:100%;
    height:100vh;
    background-color:#262527;
    position: fixed;
    left:0;
    top:0;
    overflow-y:auto;
    .brand-container{
        text-align: center;
        padding:22px 13px 0px 13px;
        box-sizing: border-box;
        .brand{
            width:80px;
            max-width:100%;
            margin:0px auto;
        }
    }
    ul{
        height:auto;
        margin-top:74px;
        margin-bottom:64px;
        li{
            height:auto;
            padding:7.5px 0px;
            margin-bottom:12px;
            position: relative;
            a{
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                .item-container{
                    display:inline-block;
                    .left-bar{
                        display:none;
                    }
                    .side-navbar-icon{
                        color:#7F7F7F;
                        margin:0px auto;
                        position:relative;
                        top:2px;
                        font-size:24px;
                    }
                    p{
                        font-size:12px;
                        color:#7F7F7F;
                        position:relative;
                        top:-2px;
                        letter-spacing: 1px;
                    }
                }
                .item-container-active{
                    .left-bar{
                        display:block;
                        width:4px;
                        height:60px;
                        background-color:#fff;
                        position: absolute;
                        left:0px;
                        top:0px;
                        bottom:0px;
                    }
                    .side-navbar-icon{
                        color:#fff;
                    }
                    p{
                        color:#fff;
                    }
                }
            }
        }
        li:hover{
            a{
                .item-container{
                    .side-navbar-icon{
                        color:#fff;
                        transition: all 0.2s; 
                    }
                    p{
                        color:#fff;
                        transition: all 0.2s; 
                    }
                }
            }
        }
        li:last-child{
            margin-bottom:0px;
        }
    }
    .side-navbar-bottom{
        width:100%;
        position:absolute;
        bottom:24px;
        text-align:center;
        .avatar{
            width:40px;
            height:40px;
            background-color:red;
            margin:0px auto;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background:url("../img/avatar.jpg");
            background-position: center;
            background-size:cover;
        }
        p{
            font-size:12px;
            color:#7F7F7F;
            margin-top:12px;
        }
    }
}


@media screen and ( max-height: 800px ) { 
    .side-navbar{
        ul{
            margin-bottom:24px;
        }
        .side-navbar-bottom{
            position:absolute;
            bottom:0px;
            position:relative;
            margin-bottom:24px;
        }
    }
}